<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <button
        pButton
        pRipple
        label="Back to Home"
        icon="pi pi-arrow-left"
        class="p-button-text my-2"
        routerLink="/cheque"
        (click)="this.UpdateChequeDialog = false"
      ></button>
      <p-toast></p-toast>
      <!-- 
      for table paginated 
              [paginator]="true"
        [rowsPerPageOptions]="[10, 20, 30, 40, 50, 100]"
      -->
      <p-table
        #dt
        [value]="products"
        [columns]="cols"
        responsiveLayout="scroll"
        [rows]="10"
        [globalFilterFields]="['chequePayTo']"
        (rowsChange)="getAllCheque($event)"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [(selection)]="selectedProducts"
        selectionMode="multiple"
        [rowHover]="true"
        dataKey="id"
      >
        <ng-template pTemplate="caption">
          <div
            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
          >
            <span class="flex gap-2 justify-content-center align-items-center">
              <h5 class="m-0">Search Table</h5>
              <button
                pButton
                pRipple
                [label]="sum ? 'Sum : ' + sum : 'Sum'"
                icon="pi pi-check"
                (click)="calcSum()"
                class="p-button-text"
              ></button>
            </span>

            <div class="flex gap-2">
              <span class="block mt-2 md:mt-0 p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  (input)="onGlobalFilter(dt, $event)"
                  placeholder="Search..."
                  class="w-full sm:w-auto"
                />
              </span>
              <!-- <p-dropdown
                [options]="cities"
                [(ngModel)]="selectedDrop"
                placeholder="Select a Section"
                [showClear]="true"
              ></p-dropdown> -->
            </div>
            <div class="flex gap-2">
              <button
                pButton
                pRipple
                label="Search"
                icon="pi pi-search"
                class="p-button-warning"
                (click)="searchDialog = true"
              ></button>
              <button
                pButton
                pRipple
                label="New"
                icon="pi pi-plus"
                class="p-button-success"
                (click)="openNew()"
              ></button>

              <!-- <button
                pButton
                pRipple
                label="Delete"
                icon="pi pi-trash"
                class="p-button-danger"
                (click)="deleteSelectedProducts()"
                [disabled]="!selectedProducts || !selectedProducts.length"
              ></button> -->
              <button
                pButton
                pRipple
                label="Export"
                icon="pi pi-upload"
                class="p-button-help"
                (click)="dt.exportCSV()"
              ></button>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="chequePayTo">
              Cheque Pay To <p-sortIcon field="chequePayTo"></p-sortIcon>
            </th>
            <th pSortableColumn="dateOfPay">
              Date Of Pay <p-sortIcon field="dateOfPay"></p-sortIcon>
            </th>
            <th pSortableColumn="Debit">Debit</th>
            <th pSortableColumn="Credit">Credit</th>
            <!-- <th>Image</th> -->
            <th pSortableColumn="Balance">Balance</th>
            <th pSortableColumn="chequeNumber">Cheque Number</th>
            <!-- <th pSortableColumn="rating">
              Reviews <p-sortIcon field="rating"></p-sortIcon>
            </th> -->
            <!-- <th pSortableColumn="isPayed">Is Payed</th> -->
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>
              <p-tableCheckbox [value]="product"></p-tableCheckbox>
            </td>
            <td style="width: 14%; min-width: 10rem">
              <span class="p-column-title">Cheque Pay To</span>
              {{ product.chequePayTo }}
            </td>
            <td style="width: 14%; min-width: 10rem">
              <span class="p-column-title">Date Of Pay</span>
              {{ product.dateOfPay }}
            </td>
            <td style="width: 14%; min-width: 8rem color-Red">
              <span class="p-column-title">Debit</span>
              <p>
                <span *ngIf="product.chequeType == 'DEBIT'">
                  ( {{ product.chequeAmount | currency : "AED" }} )
                </span>
                <span *ngIf="product.chequeType == 'CREDIT'"> - </span>
              </p>
            </td>
            <td style="width: 14%; min-width: 10rem">
              <span class="p-column-title">Credit</span>
              {{
                product.chequeType == "CREDIT"
                  ? (product.chequeAmount | currency : "AED")
                  : "-"
              }}
            </td>
            <td style="width: 14%; min-width: 8rem">
              <span class="p-column-title">Balance</span>
              <p
                [ngClass]="{
                  'color-Red': product.balance < 0
                }"
              >
                <span *ngIf="product.balance < 0">
                  ( {{ product.balance | currency : "AED" }} )
                </span>
                <span *ngIf="product.balance > 0">
                  {{ product.balance | currency : "AED" }}
                </span>
              </p>
            </td>
            <td style="width: 14%; min-width: 10rem">
              <span class="p-column-title">Cheque Number</span>

              {{ product.chequeNumber || "-" }}
            </td>
            <!-- <td style="width: 14%; min-width: 10rem">
              <span class="p-column-title">Is Payed</span>
              <span
                [class]="
                  'product-badge status-' +
                  (product.inventoryStatus
                    ? product.inventoryStatus.toLowerCase()
                    : '')
                "
                >{{ product.isPayed }}</span
              >
            </td> -->
            <td>
              <div class="flex">
                <button
                  pButton
                  pRipple
                  icon="pi pi-check"
                  class="p-button-rounded p-button-success mr-2"
                  (click)="chequeUpdateStatus(product)"
                ></button>
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success mr-2"
                  (click)="editProduct(product)"
                ></button>
                <button
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-warning"
                  (click)="deleteCheque(product)"
                ></button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <td
              colspan="3"
              style="
                width: 28%;
                min-width: 10rem;
                text-align: left;
                font-weight: bold;
              "
            >
              Total:
            </td>
            <td style="text-align: left; width: 14%; min-width: 10rem">
              ( {{ totalDebit | currency : "AED" }} )
            </td>
            <td style="text-align: left; width: 14%; min-width: 10rem">
              {{ totalCredit | currency : "AED" }}
            </td>
            <td
              style="text-align: left; width: 14%; min-width: 10rem"
              [ngClass]="{
                'color-Red': products[products.length - 1].balance < 0
              }"
            >
              <span *ngIf="products[products.length - 1].balance < 0">
                (
                {{
                  products[products.length - 1].balance * -1 | currency : "AED"
                }}
                )
              </span>
              <span *ngIf="products[products.length - 1].balance > 0">
                {{ products[products.length - 1].balance | currency : "AED" }}
              </span>
            </td>
            <td colspan="3"></td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <!-- Add New Cheque -->
    <!-- Add New Cheque -->
    <!-- Add New Cheque -->

    <p-dialog
      [(visible)]="chequeDialog"
      [style]="{ width: '600px', height: '570px' }"
      header="Add New Cheque"
      [modal]="true"
      class="p-fluid"
      [formGroup]="chequeForm"
    >
      <ng-template
        pTemplate="content"
        class="flex flex-column justify-content-md-end"
      >
        <div class="field">
          <label for="name">Pay against</label>
          <p-autoComplete
            formControlName="chequePayTo"
            [suggestions]="filteredSuppliers"
            (completeMethod)="filterCountry($event)"
            (keydown)="onKeydown($event, chequeForm)"
          ></p-autoComplete>
        </div>

        <div class="field">
          <label htmlFor="chequeNumber">Cheque Number</label>
          <input pInputText formControlName="chequeNumber" type="text" />
        </div>

        <div class="formgrid grid">
          <div class="field col">
            <label for="price">Cheque Amount</label>
            <p-inputNumber
              id="price"
              formControlName="chequeAmount"
              mode="currency"
              currency="AED"
              locale="en-US"
              required
            ></p-inputNumber>
          </div>
        </div>
        <div class="formgrid grid">
          <div class="field col">
            <label htmlFor="state">Cheque Type</label>
            <p-selectButton
              formControlName="chequeType"
              [options]="chequeTypeAdd"
              optionLabel="label"
            ></p-selectButton>
            <!-- <p-dropdown
              formControlName="chequeType"
              [options]="chequeTypeAdd"
              optionLabel="label"
            ></p-dropdown> -->
          </div>
        </div>
        <div class="formgrid grid">
          <div class="field col">
            <label htmlFor="state">Cheque Status</label>
            <p-selectButton
              [options]="chequeStatusAdd"
              formControlName="isPayed"
              optionLabel="label"
            ></p-selectButton>
            <!-- <p-dropdown
              formControlName="isPayed"
              [options]="chequeStatusAdd"
              optionLabel="label"
            ></p-dropdown> -->
          </div>
        </div>
        <div class="formgrid grid">
          <div class="field col">
            <label for="price">Cheque Data</label>
            <p-calendar
              required
              formControlName="dateOfPay"
              dateFormat="dd/mm/yy"
            ></p-calendar>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="Cancel"
          icon="pi pi-times"
          class="p-button-text"
          (click)="this.chequeDialog = false"
        ></button>
        <button
          pButton
          pRipple
          label="Save"
          icon="pi pi-check"
          class="p-button-text"
          (click)="addNewCheque()"
        ></button>
      </ng-template>
    </p-dialog>

    <!-- Update Cheque -->
    <!-- Update Cheque -->
    <!-- Update Cheque -->

    <p-dialog
      [(visible)]="UpdateChequeDialog"
      [style]="{ width: '600px', height: '570px' }"
      header="Update Cheque"
      [modal]="true"
      class="p-fluid"
      [formGroup]="chequeForm"
    >
      <ng-template
        pTemplate="content"
        class="flex flex-column justify-content-md-end"
      >
        <div class="field">
          <label for="name">Pay against</label>
          <p-autoComplete
            formControlName="chequePayTo"
            [suggestions]="filteredSuppliers"
            (completeMethod)="filterCountry($event)"
            (keydown)="onKeydown($event, chequeForm)"
          ></p-autoComplete>
        </div>

        <div class="field">
          <label htmlFor="chequeNumber">Cheque Number</label>
          <input pInputText formControlName="chequeNumber" type="text" />
        </div>

        <!-- <div class="field">
          <label for="status">Cheque Status</label>
          <p-dropdown
            [(ngModel)]="product.inventoryStatus"
            inputId="inventoryStatus"
            optionValue="label"
            [options]="statuses"
            placeholder="Select"
          >
            <ng-template pTemplate="selectedItem">
              <span
                *ngIf="product && product.inventoryStatus"
                [class]="
                  'product-badge status-' +
                  product.inventoryStatus.toString().toLowerCase()
                "
                >{{ product.inventoryStatus }}</span
              >
            </ng-template>
            <ng-template let-option pTemplate="item">
              <span [class]="'product-badge status-' + option.value">{{
                option.label
              }}</span>
            </ng-template>
          </p-dropdown>
        </div> -->

        <div class="formgrid grid">
          <div class="field col">
            <label for="price">Cheque Amount</label>
            <p-inputNumber
              id="price"
              formControlName="chequeAmount"
              mode="currency"
              currency="AED"
              locale="en-US"
              required
            ></p-inputNumber>
          </div>
        </div>

        <div class="formgrid grid">
          <div class="field col">
            <label htmlFor="state">Cheque Type</label>
            <p-selectButton
              formControlName="chequeType"
              [options]="chequeTypeAdd"
              optionLabel="label"
            ></p-selectButton>
            <!-- <p-dropdown
              formControlName="chequeType"
              [options]="chequeTypeAdd"
              optionLabel="label"
            ></p-dropdown> -->
          </div>
        </div>

        <div class="formgrid grid">
          <div class="field col">
            <label htmlFor="state">Cheque Status</label>
            <p-selectButton
              [options]="chequeStatusAdd"
              formControlName="isPayed"
              optionLabel="label"
            ></p-selectButton>
            <!-- <p-dropdown
              formControlName="isPayed"
              [options]="chequeStatusAdd"
              optionLabel="label"
            ></p-dropdown> -->
          </div>
        </div>
        <div class="formgrid grid">
          <div class="field col">
            <label for="price">Cheque Data</label>
            <p-calendar
              required
              formControlName="dateOfPay"
              dateFormat="dd/mm/yy"
            ></p-calendar>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="Cancel"
          icon="pi pi-times"
          class="p-button-text"
          (click)="this.UpdateChequeDialog = false"
        ></button>
        <button
          pButton
          pRipple
          label="Save"
          icon="pi pi-check"
          class="p-button-text"
          (click)="updateCheque()"
        ></button>
      </ng-template>
    </p-dialog>

    <!-- Search Cheque -->
    <!-- Search Cheque -->
    <!-- Search Cheque -->

    <p-dialog
      [(visible)]="searchDialog"
      [style]="{ width: '600px', height: '570px' }"
      header="Search"
      [modal]="true"
      class="p-fluid"
      [formGroup]="searchForm"
    >
      <ng-template
        pTemplate="content"
        class="flex flex-column justify-content-md-end"
      >
        <div class="field">
          <label for="name">Pay against</label>
          <p-autoComplete
            formControlName="chequePayTo"
            [suggestions]="filteredSuppliers"
            (completeMethod)="filterCountry($event)"
            (keydown)="onKeydown($event, searchForm)"
          ></p-autoComplete>
        </div>

        <div class="field">
          <label htmlFor="chequeNumber">Cheque Number</label>
          <input pInputText formControlName="chequeNumber" type="text" />
        </div>

        <!-- <div class="field">
          <label for="status">Cheque Status</label>
          <p-dropdown
            [(ngModel)]="product.inventoryStatus"
            inputId="inventoryStatus"
            optionValue="label"
            [options]="statuses"
            placeholder="Select"
          >
            <ng-template pTemplate="selectedItem">
              <span
                *ngIf="product && product.inventoryStatus"
                [class]="
                  'product-badge status-' +
                  product.inventoryStatus.toString().toLowerCase()
                "
                >{{ product.inventoryStatus }}</span
              >
            </ng-template>
            <ng-template let-option pTemplate="item">
              <span [class]="'product-badge status-' + option.value">{{
                option.label
              }}</span>
            </ng-template>
          </p-dropdown>
        </div> -->

        <!-- <div class="formgrid grid">
          <div class="field col">
            <label for="price">Cheque Amount</label>
            <p-inputNumber
              id="price"
              formControlName="chequeAmount"
              mode="currency"
              currency="AED"
              locale="en-US"
              required
            ></p-inputNumber>
          </div>
        </div> -->

        <div class="formgrid grid">
          <div class="field col">
            <label htmlFor="state">Cheque Type</label>
            <p-selectButton
              formControlName="chequeType"
              [options]="chequeTypeAdd"
              optionLabel="label"
            ></p-selectButton>
            <!-- <p-dropdown
              formControlName="chequeType"
              [options]="chequeTypeAdd"
              optionLabel="label"
            ></p-dropdown> -->
          </div>
        </div>

        <div class="formgrid grid">
          <div class="field col">
            <label htmlFor="state">Cheque Status</label>
            <p-selectButton
              [options]="chequeStatusAdd"
              formControlName="isPayed"
              optionLabel="label"
            ></p-selectButton>
            <!-- <p-dropdown
              formControlName="isPayed"
              [options]="chequeStatusAdd"
              optionLabel="label"
            ></p-dropdown> -->
          </div>
        </div>
        <div class="formgrid grid">
          <div class="field col">
            <label for="price">Start Data</label>
            <p-calendar
              required
              formControlName="startDateOfPay"
              dateFormat="dd/mm/yy"
            ></p-calendar>
          </div>
        </div>
        <div class="formgrid grid">
          <div class="field col">
            <label for="price">End Data</label>
            <p-calendar
              required
              formControlName="endDateOfPay"
              dateFormat="dd/mm/yy"
            ></p-calendar>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <div class="flex justify-content-between align-items-center mt-1">
          <button pButton label="Reset" (click)="AdvanceSearch(true)"></button>
          <div>
            <button
              pButton
              pRipple
              label="Cancel"
              icon="pi pi-times"
              class="p-button-text"
              (click)="this.searchDialog = false"
            ></button>
            <button
              pButton
              pRipple
              label="Search"
              icon="pi pi-check"
              class="p-button-text"
              (click)="AdvanceSearch()"
            ></button>
          </div>
        </div>
      </ng-template>
    </p-dialog>

    <!-- Delete Cheque -->
    <!-- Delete Cheque -->
    <!-- Delete Cheque -->

    <p-dialog
      [(visible)]="deleteProductDialog"
      header="Confirm"
      [modal]="true"
      [style]="{ width: '450px' }"
    >
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="product"
          >Are you sure you want to delete
          <b>{{ product.chequePayTo }}</b> Cheque?</span
        >
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          icon="pi pi-times"
          class="p-button-text"
          label="No"
          (click)="deleteProductDialog = false"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="p-button-text"
          label="Yes"
          (click)="confirmDelete()"
        ></button>
      </ng-template>
    </p-dialog>

    <!-- Pay Cheque -->
    <!-- Pay Cheque -->
    <!-- Pay Cheque -->

    <p-dialog
      [(visible)]="payChequeDialog"
      header="Confirm"
      [modal]="true"
      [style]="{ width: '450px', height: '700px' }"
    >
      <div class="flex flex-column align-items-center justify-content-center">
        <div class="flex align-items-center justify-content-center">
          <i
            class="pi pi-exclamation-triangle mr-3"
            style="font-size: 2rem"
          ></i>
          <span *ngIf="product"
            >Are you sure you want to Pay
            <b>{{ product.chequePayTo }}</b> Cheque?</span
          >
        </div>
        <br />
        <div class="field flex flex-column col-12">
          <label for="price">Pay Data</label>
          <p-calendar
            [(ngModel)]="dateNow"
            #payDate
            dateFormat="dd/mm/yy"
          ></p-calendar>
        </div>
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          icon="pi pi-times"
          class="p-button-text"
          label="No"
          (click)="payChequeDialog = false"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="p-button-text"
          label="Yes"
          (click)="confirmUpdateStatus()"
        ></button>
      </ng-template>
    </p-dialog>

    <!-- Delete Selected Product -->
    <!-- Delete Selected Product -->
    <!-- Delete Selected Product -->

    <!-- <p-dialog
      [(visible)]="deleteProductsDialog"
      header="Confirm"
      [modal]="true"
      [style]="{ width: '450px' }"
    >
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Are you sure you want to delete selected products?</span>
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          icon="pi pi-times"
          class="p-button-text"
          label="No"
          (click)="deleteProductsDialog = false"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="p-button-text"
          label="Yes"
          (click)="confirmDeleteSelected()"
        ></button>
      </ng-template>
    </p-dialog> -->
  </div>
</div>
