<div class="grid">
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0" (click)="addNewInvoice()">
      <div class="flex justify-content-between align-items-center mb-3">
        <div>
          <!-- <span class="block text-500 font-medium mb-3">Add Invoice</span> -->
          <div class="text-900 font-medium text-xl" translate>Add Invoice</div>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-blue-100 border-round"
          [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
        >
          <i class="pi pi-inbox text-blue-500 text-xl"></i>
        </div>
      </div>
      <!-- <span class="text-green-500 font-medium">24 new </span>
      <span class="text-500">since last visit</span> -->
    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0" (click)="supplierModal()">
      <div class="flex justify-content-between align-items-center mb-3">
        <div>
          <!-- <span class="block text-500 font-medium mb-3">Orders</span> -->
          <div class="text-900 font-medium text-xl" translate>Add Supplier</div>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-teal-200 border-round"
          [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
        >
          <i class="pi pi-user-plus text-blue-700 text-xl"></i>
        </div>
      </div>
      <!-- <span class="text-green-500 font-medium">24 new </span>
      <span class="text-500">since last visit</span> -->
    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0" (click)="this.projectDialog = true">
      <div class="flex justify-content-between align-items-center mb-3">
        <div>
          <!-- <span class="block text-500 font-medium mb-3">Revenue</span> -->
          <div class="text-900 font-medium text-xl" translate>Add Project</div>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-orange-100 border-round"
          [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
        >
          <i class="pi pi-ticket text-orange-500 text-xl"></i>
        </div>
      </div>
      <!-- <span class="text-green-500 font-medium">%52+ </span>
      <span class="text-500">since last week</span> -->
    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0" (click)="this.itemDialog = true">
      <div class="flex justify-content-between align-items-center mb-3">
        <div>
          <!-- <span class="block text-500 font-medium mb-3">Add Item</span> -->
          <div class="text-900 font-medium text-xl" translate>Add Item</div>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-cyan-100 border-round"
          [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
        >
          <i class="pi pi-plus text-cyan-500 text-xl"></i>
        </div>
      </div>
      <!-- <span class="text-green-500 font-medium">520 </span>
      <span class="text-500">newly registered</span> -->
    </div>
  </div>
  <!-- <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between align-items-center mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Comments</span>
          <div class="text-900 font-medium text-xl">Pay Bill</div>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-purple-100 border-round"
          [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
        >
          <i class="pi pi-wallet text-purple-500 text-xl"></i>
        </div>
      </div>
      <span class="text-green-500 font-medium">85 </span>
      <span class="text-500">responded</span>
    </div>
  </div> -->
  <div class="col-12">
    <div class="card px-6 py-6">
      <!-- [(selection)]="selectedProducts" -->
      <p-table
        #dt
        [value]="products"
        [columns]="cols"
        responsiveLayout="scroll"
        [rows]="10"
        [globalFilterFields]="['chequePayTo']"
        (rowsChange)="getAllInvoices()"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        selectionMode="multiple"
        [rowHover]="true"
        dataKey="id"
      >
        <ng-template pTemplate="caption">
          <div
            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
          >
            <div class="flex gap-2">
              <!-- <span class="block mt-2 md:mt-0 p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  (input)="onGlobalFilter(dt, $event)"
                  placeholder="Search..."
                  class="w-full sm:w-auto"
                />
              </span> -->
              <button
                pButton
                pRipple
                label="{{ 'Refresh' | translate }}"
                icon="pi pi-refresh"
                (click)="reload()"
              ></button>
              <p-dropdown
                [options]="allSuppliers"
                styleClass="w-20rem"
                optionValue="id"
                optionLabel="name"
                [filter]="true"
                filterBy="name"
                (onChange)="getBySupplier()"
                [(ngModel)]="selectedSupplier"
                placeholder="Select Supplier"
                [virtualScroll]="true"
                [virtualScrollItemSize]="38"
                [virtualScrollOptions]="options"
              />
            </div>
            <div class="supplier-scroll">
              <!-- <p-splitButton
                *ngFor="let supplier of allSuppliers"
                [label]="supplier?.name"
                [model]="supplierItems"
                (click)="getAllInvoices(supplier.id)"
                raised
                severity="info"
              /> -->
              <span *ngIf="selectedSupplier">
                <p-splitButton
                  label="{{ getSupplierById(selectedSupplier) }}"
                  [model]="supplierItems"
                />

                <!-- <span (click)="deleteSupplierDialog = true">X</span> -->
              </span>
            </div>
            <div class="flex gap-2">
              <button
                pButton
                label="{{ 'Reset' | translate }}"
                (click)="AdvanceSearch()"
              ></button>
              <button
                pButton
                pRipple
                label="{{ 'Search' | translate }}"
                icon="pi pi-search"
                class="p-button-warning"
                (click)="searchDialog = true"
              >
                <!-- [routerLink]="'/cheque/search'" -->
              </button>
              <!-- <button
                pButton
                pRipple
                label="New"
                icon="pi pi-plus"
                class="p-button-success"
                (click)="openNew()"
              ></button> -->

              <!-- <button
                pButton
                pRipple
                label="Delete"
                icon="pi pi-trash"
                class="p-button-danger"
                (click)="deleteSelectedProducts()"
                [disabled]="!selectedProducts || !selectedProducts.length"
              ></button> -->
              <!-- <button
                pButton
                pRipple
                label="Export Selected"
                icon="pi pi-upload"
                class="p-button-help"
                (click)="exportSelectedCSV()"
                [disabled]="!selectedProducts || selectedProducts.length === 0"
              ></button> -->
              <!-- <button
                pButton
                pRipple
                label="Export"
                icon="pi pi-upload"
                class="p-button-help"
                (click)="dt.exportCSV()"
              ></button> -->
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="number" translate>Invoice Number</th>
            <th pSortableColumn="invoiceDate" translate>
              Invoice Date <p-sortIcon field="invoiceDate"></p-sortIcon>
            </th>
            <th pSortableColumn="projectName" translate>
              Project <p-sortIcon field="projectName"></p-sortIcon>
            </th>
            <th pSortableColumn="supplierName" translate>
              Supplier <p-sortIcon></p-sortIcon>
            </th>
            <!-- <th>Image</th> -->
            <th pSortableColumn="amount" translate>Amount</th>
            <th pSortableColumn="paidAmount" translate>Paid Amount</th>
            <th pSortableColumn="The Rest" translate>The Rest</th>
            <th pSortableColumn="itemDetails" translate>Item Details</th>
            <!-- <th pSortableColumn="rating">
              Reviews <p-sortIcon field="rating"></p-sortIcon>
            </th> -->
            <!-- <th pSortableColumn="isPayed">Is Payed</th> -->
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>
              <p-tableCheckbox [value]="product"></p-tableCheckbox>
            </td>
            <td style="width: 14%; min-width: 8rem color-Red">
              <span class="p-column-title">Invoice Number</span>
              <p>
                <span> {{ product.number }} </span>
              </p>
            </td>
            <td style="width: 14%; min-width: 10rem">
              <span class="p-column-title">invoiceDate</span>
              {{ product.invoiceDate | date : "dd/MM/yyyy" }}
            </td>
            <td style="width: 14%; min-width: 10rem">
              <span class="p-column-title">Project</span>
              {{ product.projectName }}
            </td>
            <td style="width: 14%; min-width: 10rem">
              <span class="p-column-title">Supplier</span>
              {{ product.supplierName }}
            </td>
            <td style="width: 14%; min-width: 8rem">
              <span class="p-column-title">amount</span>
              <p>
                <span> {{ product?.amount | currency : "AED" }} </span>
              </p>
            </td>
            <td style="width: 14%; min-width: 10rem">
              <span class="p-column-title">paidAmount</span>
              {{ product.paidAmount | currency : "AED" || "-" }}
            </td>
            <td style="width: 14%; min-width: 10rem" class="color-Red">
              <span>
                {{
                  product.paidAmount
                    ? (product.amount - product.paidAmount | currency : "AED")
                    : (product.amount | currency : "AED")
                }}
              </span>
            </td>
            <td
              style="width: 14%; min-width: 10rem"
              (click)="openDetails(product)"
              translate
              class="cursor-pointer"
            >
              <span class="p-column-title">itemDetails</span>
              Item Details
            </td>
            <!-- <td style="width: 14%; min-width: 10rem">
              <span class="p-column-title">Is Payed</span>
              <span
                [class]="
                  'product-badge status-' +
                  (product.inventoryStatus
                    ? product.inventoryStatus.toLowerCase()
                    : '')
                "
                >{{ product.isPayed }}</span
              >
            </td> -->
            <td>
              <div class="flex">
                <button
                  pButton
                  pRipple
                  icon="pi pi-check"
                  class="p-button-rounded p-button-success mr-2"
                  (click)="payModal(product)"
                ></button>
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success mr-2"
                  (click)="editProduct(product)"
                ></button>
                <button
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-warning"
                  (click)="deleteInvoice(product)"
                ></button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <td colspan="5" style="font-weight: bold; text-align: left">
              Total:
            </td>
            <td style="font-weight: bold">
              {{ totalAmount | currency : "AED" }}
            </td>
            <td style="font-weight: bold">
              {{ totalPaidAmount | currency : "AED" }}
            </td>
            <td style="font-weight: bold; color: red">
              {{ totalRemaining | currency : "AED" }}
            </td>
            <td colspan="2"></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <!-- <div class="w-full">
    <router-outlet></router-outlet>
  </div> -->

    <!-- Add New Supplier -->
    <!-- Add New Supplier -->
    <!-- Add New Supplier -->
    <p-dialog
      [(visible)]="supplierDialog"
      [style]="{ width: '600px', height: '320px' }"
      header="{{ 'Add New Supplier' | translate }}"
      [modal]="true"
      class="p-fluid"
      [formGroup]="supplierForm"
    >
      <ng-template
        pTemplate="content"
        class="flex flex-column justify-content-md-end"
      >
        <div class="field">
          <label htmlFor="name" translate>Supplier Name</label>
          <input pInputText formControlName="name" type="text" />
        </div>
        <div class="field">
          <label htmlFor="name" translate>TRN Number</label>
          <input pInputText formControlName="trnNumber" type="text" />
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="{{ 'Cancel' | translate }}"
          icon="pi pi-times"
          class="p-button-text"
          (click)="this.supplierDialog = false"
        ></button>
        <button
          pButton
          pRipple
          label="{{ 'Save' | translate }}"
          icon="pi pi-check"
          class="p-button-text"
          (click)="addNewSupplier()"
        ></button>
      </ng-template>
    </p-dialog>

    <!-- Edit Supplier -->
    <!-- Edit Supplier -->
    <!-- Edit Supplier -->
    <p-dialog
      [(visible)]="EditSupplierDialog"
      [style]="{ width: '600px', height: '320px' }"
      header="{{ 'Update Supplier' | translate }}"
      [modal]="true"
      class="p-fluid"
      [formGroup]="supplierForm"
    >
      <ng-template
        pTemplate="content"
        class="flex flex-column justify-content-md-end"
      >
        <div class="field">
          <label htmlFor="name" translate>Supplier Name</label>
          <input pInputText formControlName="name" type="text" />
        </div>
        <div class="field">
          <label htmlFor="name" translate>TRN Number</label>
          <input pInputText formControlName="trnNumber" type="text" />
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="{{ 'Cancel' | translate }}"
          icon="pi pi-times"
          class="p-button-text"
          (click)="this.supplierDialog = false"
        ></button>
        <button
          pButton
          pRipple
          label="{{ 'Save' | translate }}"
          icon="pi pi-check"
          class="p-button-text"
          (click)="updateSupplier()"
        ></button>
      </ng-template>
    </p-dialog>

    <!-- Add New Project -->
    <!-- Add New Project -->
    <!-- Add New Project -->
    <p-dialog
      [(visible)]="projectDialog"
      [style]="{ width: '600px', height: '240px' }"
      header="{{ 'Add New Project' | translate }}"
      [modal]="true"
      class="p-fluid"
      [formGroup]="projectForm"
    >
      <ng-template
        pTemplate="content"
        class="flex flex-column justify-content-md-end"
      >
        <div class="field">
          <label htmlFor="name" translate>Project Name</label>
          <input pInputText formControlName="name" type="text" />
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="{{ 'Cancel' | translate }}"
          icon="pi pi-times"
          class="p-button-text"
          (click)="this.projectDialog = false"
        ></button>
        <button
          pButton
          pRipple
          label="{{ 'Save' | translate }}"
          icon="pi pi-check"
          class="p-button-text"
          (click)="addNewProject()"
        ></button>
      </ng-template>
    </p-dialog>

    <!-- Add New Item -->
    <!-- Add New Item -->
    <!-- Add New Item -->
    <p-dialog
      [(visible)]="itemDialog"
      [style]="{ width: '600px', height: '330px' }"
      header="{{ 'Add New Item' | translate }}"
      [modal]="true"
      class="p-fluid"
      [formGroup]="itemForm"
    >
      <ng-template
        pTemplate="content"
        class="flex flex-column justify-content-md-end"
      >
        <div class="field">
          <label htmlFor="name" translate>Item Name</label>
          <input pInputText formControlName="name" type="text" />
        </div>
        <div class="field">
          <label htmlFor="description" translate>Item Description</label>
          <input pInputText formControlName="description" type="text" />
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="{{ 'Cancel' | translate }}"
          icon="pi pi-times"
          class="p-button-text"
          (click)="this.itemDialog = false"
        ></button>
        <button
          pButton
          pRipple
          label="{{ 'Save' | translate }}"
          icon="pi pi-check"
          class="p-button-text"
          (click)="addNewItem()"
        ></button>
      </ng-template>
    </p-dialog>

    <!-- Pay Bill -->
    <!-- Pay Bill -->
    <!-- Pay Bill -->
    <p-dialog
      [(visible)]="paymentDialog"
      [style]="{ width: '600px', height: '580px' }"
      header="{{ 'Pay Bill' | translate }}"
      [modal]="true"
      class="p-fluid"
      [formGroup]="billForm"
    >
      <ng-template
        pTemplate="content"
        class="flex flex-column justify-content-md-end"
      >
        <div class="field col-12">
          <label translate>Invoice Date</label>
          <p-calendar
            required
            formControlName="paymentDate"
            dateFormat="dd/mm/yy"
          ></p-calendar>
        </div>
        <div class="field col-12">
          <label htmlFor="name" translate>Payment Amount</label>
          <input pInputText formControlName="amount" type="text" />
        </div>
        <div class="field col-12">
          <label for="price" translate>Cheque Number</label>
          <p-inputNumber
            id="price"
            formControlName="number"
            mode="decimal"
            [useGrouping]="false"
            required
          ></p-inputNumber>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="{{ 'Cancel' | translate }}"
          icon="pi pi-times"
          class="p-button-text"
          (click)="this.paymentDialog = false"
        ></button>
        <button
          pButton
          pRipple
          label="{{ 'Save' | translate }}"
          icon="pi pi-check"
          class="p-button-text"
          (click)="payBill()"
        ></button>
      </ng-template>
    </p-dialog>

    <!-- Add New Invoice -->
    <!-- Add New Invoice -->
    <!-- Add New Invoice -->
    <p-dialog
      [(visible)]="invoiceDialog"
      [style]="{ width: '800px', height: '90%' }"
      header="{{
        (!updateInvoice ? 'Add New Invoice' : 'Update Invoice') | translate
      }}"
      [modal]="true"
      class="p-fluid"
      [formGroup]="invoiceForm"
    >
      <ng-template
        pTemplate="content"
        class="flex flex-column justify-content-md-end"
        [formGroup]="invoiceForm"
      >
        <div class="field col-12">
          <label for="supplierId" translate>Supplier</label>
          <p-autoComplete
            formControlName="supplierId"
            [suggestions]="filteredSuppliers"
            (completeMethod)="filterCountry($event, 'supplier')"
            (keydown)="onKeydown($event, invoiceForm, 'supplier')"
          ></p-autoComplete>
        </div>
        <div class="field col-12">
          <label for="supplierId" translate>Project</label>
          <p-autoComplete
            formControlName="projectId"
            [suggestions]="filteredProjects"
            (completeMethod)="filterCountry($event, 'project')"
            (keydown)="onKeydown($event, invoiceForm, 'project')"
          ></p-autoComplete>
        </div>
        <div class="field col-12">
          <label htmlFor="number" translate>Invoice Number</label>
          <input pInputText formControlName="number" type="text" />
        </div>

        <div formArrayName="items" class="field col-12 md:col-12">
          <div
            class="p-fluid p-formgrid grid"
            *ngFor="let control of items.controls; let i = index"
            [formGroupName]="i"
          >
            <div class="field col-12 md:col-4">
              <label for="supplierId" translate>Item</label>
              <p-autoComplete
                formControlName="itemId"
                [suggestions]="filteredItem"
                (completeMethod)="filterCountry($event, 'item')"
                (keydown)="onKeydown($event, control, 'item')"
              ></p-autoComplete>
            </div>

            <div class="field col-12 md:col-4">
              <label htmlFor="itemDescription" translate
                >Item Description</label
              >
              <input pInputText formControlName="itemDescription" type="text" />
            </div>
            <div class="field col-12 md:col-4">
              <label htmlFor="quantity" translate>Item quantity</label>
              <p-inputNumber
                id="amount"
                formControlName="quantity"
                locale="en-US"
                [minFractionDigits]="0"
                [maxFractionDigits]="2"
                required
              ></p-inputNumber>
            </div>
            <div class="field col-12 md:col-4">
              <label htmlFor="price" translate>Item price</label>
              <p-inputNumber
                id="amount"
                formControlName="price"
                mode="currency"
                currency="AED"
                locale="en-US"
                required
              ></p-inputNumber>
            </div>
            <div class="field col-12 md:col-4">
              <label htmlFor="total" translate>Total</label>
              <p-inputNumber
                id="amount"
                formControlName="total"
                mode="currency"
                currency="AED"
                locale="en-US"
                required
              ></p-inputNumber>
            </div>
            <div class="field col-12 md:col-4 align-items-center">
              <button
                pButton
                pRipple
                icon="pi pi-times"
                class="p-button-text"
                (click)="removeItem(i)"
              ></button>
            </div>
          </div>
        </div>
        <div class="field col-12 md:col-12">
          <button
            pButton
            pRipple
            label="{{ 'Add Item To Invoice' | translate }}"
            icon="pi pi-plus"
            class="p-button-text"
            (click)="generateNewItem()"
          ></button>
        </div>

        <div class="field col-12">
          <label translate>Invoice Date</label>
          <p-calendar
            required
            formControlName="invoiceDate"
            dateFormat="dd/mm/yy"
          ></p-calendar>
        </div>

        <div class="field col-12">
          <label translate>Taxable</label>
          <p-selectButton
            [options]="taxableOpt"
            formControlName="taxable"
            optionLabel="label"
          ></p-selectButton>
        </div>
        <div class="field col-12">
          <label htmlFor="amount" translate>Amount</label>
          <p-inputNumber
            id="amount"
            formControlName="amount"
            mode="currency"
            currency="AED"
            locale="en-US"
            required
          ></p-inputNumber>
        </div>

        <!-- <div class="field">
        <label htmlFor="name">Item Name</label>
        <input pInputText formControlName="name" type="text" />
      </div>
      <div class="field">
        <label htmlFor="description">Item Description</label>
        <input pInputText formControlName="description" type="text" />
      </div> -->
      </ng-template>

      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="{{ 'Cancel' | translate }}"
          icon="pi pi-times"
          class="p-button-text"
          (click)="invoiceForm = false"
        ></button>
        <button
          pButton
          pRipple
          [disabled]="isSubmitInvoice"
          label="{{ 'Save' | translate }}"
          icon="pi pi-check"
          class="p-button-text"
          (click)="addInvoice()"
        ></button>
      </ng-template>
    </p-dialog>

    <!-- Show Item -->
    <!-- Show Item -->
    <!-- Show Item -->
    <p-dialog
      [(visible)]="itemDetailsDialog"
      [style]="{ width: '50%', height: '70%' }"
      header="{{ 'Show Details' | translate }}"
      [modal]="true"
      class="p-fluid"
    >
      <ng-template
        pTemplate="content"
        class="flex flex-column justify-content-md-end"
      >
        <p-tabView>
          <p-tabPanel header="{{ 'Item Details' | translate }}">
            <p-table
              [value]="invoiceItem"
              [tableStyle]="{ 'min-width': '100%' }"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th translate>Name</th>
                  <th translate>Quantity</th>
                  <th translate>Price</th>
                  <th translate>Total Price</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product>
                <tr>
                  <td>{{ product?.item?.name }}</td>
                  <td>{{ product?.quantity }}</td>
                  <td>{{ product?.price | currency : "AED" }}</td>
                  <td>{{ product?.total | currency : "AED" }}</td>
                </tr>
              </ng-template>
            </p-table>
          </p-tabPanel>

          <p-tabPanel header="{{ 'Payment Details' | translate }}">
            <p-table
              [value]="invoicePayment"
              [tableStyle]="{ 'min-width': '100%' }"
              editMode="row"
              dataKey="id"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th translate>Date</th>
                  <th translate>Paid Value</th>
                  <th translate>Cheque Number</th>
                  <th></th>
                </tr>
              </ng-template>
              <ng-template
                pTemplate="body"
                let-product
                let-editing="editing"
                let-ri="rowIndex"
              >
                <tr [pEditableRow]="product">
                  <!-- Editable Date Column -->
                  <td
                    [pEditableColumn]="product.paymentDate"
                    pEditableColumnField="paymentDate"
                  >
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <input
                          type="date"
                          [(ngModel)]="product.paymentDate"
                          class="p-inputtext p-column-filter"
                        />
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{ product?.paymentDate | date : "dd/MM/yyyy" }}
                      </ng-template>
                    </p-cellEditor>
                  </td>

                  <!-- Editable Amount Column -->
                  <td
                    [pEditableColumn]="product.amount"
                    pEditableColumnField="amount"
                  >
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <p-inputNumber
                          [(ngModel)]="product.amount"
                          mode="currency"
                          currency="AED"
                          locale="en-US"
                        >
                        </p-inputNumber>
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{ product?.amount | currency : "AED" }}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td
                    [pEditableColumn]="product.number"
                    pEditableColumnField="number"
                  >
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <p-inputNumber [(ngModel)]="product.number">
                        </p-inputNumber>
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{ product?.number }}
                      </ng-template>
                    </p-cellEditor>
                  </td>
                  <td>
                    <div
                      class="flex align-items-center justify-content-center gap-2"
                    >
                      <button
                        *ngIf="!editing"
                        pButton
                        pRipple
                        type="button"
                        pInitEditableRow
                        icon="pi pi-pencil"
                        (click)="onRowEditInit(product)"
                        class="p-button-rounded p-button-text"
                      ></button>
                      <button
                        *ngIf="!editing"
                        pButton
                        pRipple
                        type="button"
                        pInitEditableRow
                        icon="pi pi-trash"
                        (click)="deletePayment(product)"
                        class="p-button-rounded p-button-text"
                      ></button>
                      <button
                        *ngIf="editing"
                        pButton
                        pRipple
                        type="button"
                        pSaveEditableRow
                        icon="pi pi-check"
                        (click)="onRowEditSave(product)"
                        class="p-button-rounded p-button-text p-button-success mr-2"
                      ></button>
                      <button
                        *ngIf="editing"
                        pButton
                        pRipple
                        type="button"
                        pCancelEditableRow
                        icon="pi pi-times"
                        (click)="onRowEditCancel(product, ri)"
                        class="p-button-rounded p-button-text p-button-danger"
                      ></button>
                    </div>
                  </td>
                </tr>
              </ng-template>
              <!-- <ng-template pTemplate="body" let-product>
                <tr>
                  <td>{{ product?.paymentDate | date : "dd/MM/yyyy" }}</td>
                  <td>{{ product?.amount | currency : "AED" }}</td>
                </tr>
              </ng-template> -->
            </p-table>
          </p-tabPanel>
        </p-tabView>
      </ng-template>

      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="{{ 'Cancel' | translate }}"
          icon="pi pi-times"
          class="p-button-text"
          (click)="itemDetailsDialog = false"
        ></button>
        <!-- <button
          pButton
          pRipple
          label="Save"
          icon="pi pi-check"
          class="p-button-text"
          (click)="addInvoice()"
        ></button> -->
      </ng-template>
    </p-dialog>

    <!-- Delete Item -->
    <!-- Delete Item -->
    <!-- Delete Item -->

    <p-dialog
      [(visible)]="deleteProductDialog"
      header="{{ 'Confirm' | translate }}"
      [modal]="true"
      [style]="{ width: '450px' }"
    >
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="selectedInvoice"
          >{{ "Are you sure you want to delete" | translate }}
          <b>{{ selectedInvoice?.supplierName }}</b>
          {{ "Invoice" | translate }}?</span
        >
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          icon="pi pi-times"
          class="p-button-text"
          label="{{ 'No' | translate }}"
          (click)="deleteProductDialog = false"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="p-button-text"
          label="{{ 'Yes' | translate }}"
          (click)="confirmDelete()"
        ></button>
      </ng-template>
    </p-dialog>

    <!-- Delete Supplier -->
    <!-- Delete Supplier -->
    <!-- Delete Supplier -->

    <p-dialog
      [(visible)]="deleteSupplierDialog"
      header="{{ 'Confirm' | translate }}"
      [modal]="true"
      [style]="{ width: '450px' }"
    >
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="selectedSupplier"
          >{{ "Are you sure you want to delete" | translate }}
          <b>{{ getSupplierById(selectedSupplier) }}</b>
          ?</span
        >
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          icon="pi pi-times"
          class="p-button-text"
          label="{{ 'No' | translate }}"
          (click)="deleteSupplierDialog = false"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="p-button-text"
          label="{{ 'Yes' | translate }}"
          (click)="confirmDeleteSupplier()"
        ></button>
      </ng-template>
    </p-dialog>

    <!-- Search on Invoice -->
    <!-- Search on Invoice -->
    <!-- Search on Invoice -->

    <p-dialog
      [(visible)]="searchDialog"
      [style]="{ width: '600px', height: '570px' }"
      header="{{ 'Search' | translate }}"
      [modal]="true"
      class="p-fluid"
      [formGroup]="searchForm"
    >
      <ng-template
        pTemplate="content"
        class="flex flex-column justify-content-md-end"
      >
        <div class="field">
          <label for="name" translate>Supplier</label>
          <p-autoComplete
            formControlName="supplierId"
            [suggestions]="filteredSuppliers"
            (completeMethod)="filterCountry($event, 'supplier')"
            (keydown)="onKeydown($event, invoiceForm, 'supplier')"
          ></p-autoComplete>
        </div>

        <div class="field">
          <label htmlFor="projectId" translate>Project</label>
          <p-autoComplete
            formControlName="projectId"
            [suggestions]="filteredProjects"
            (completeMethod)="filterCountry($event, 'project')"
            (keydown)="onKeydown($event, invoiceForm, 'project')"
          ></p-autoComplete>
        </div>

        <div class="formgrid grid">
          <div class="field col">
            <label for="price" translate>Invoice Number</label>
            <p-inputNumber
              id="price"
              formControlName="number"
              mode="decimal"
              [useGrouping]="false"
              required
            ></p-inputNumber>
          </div>
        </div>

        <div class="formgrid grid">
          <div class="field col">
            <label for="price" translate>Item</label>
            <p-multiSelect
              [options]="allItem"
              formControlName="itemIds"
              optionLabel="name"
              optionValue="id"
            />
          </div>
        </div>

        <div class="formgrid grid">
          <div class="field col">
            <label htmlFor="state" translate>Taxable</label>
            <p-selectButton
              formControlName="taxable"
              [options]="taxableOpt"
              optionLabel="label"
              optionValue="value"
            ></p-selectButton>
          </div>
        </div>

        <div class="formgrid grid">
          <div class="field col">
            <label for="price" translate>Start Data</label>
            <p-calendar
              required
              formControlName="startDate"
              dateFormat="dd/mm/yy"
            ></p-calendar>
          </div>
        </div>
        <div class="formgrid grid">
          <div class="field col">
            <label for="price" translate>End Data</label>
            <p-calendar
              required
              formControlName="endDate"
              dateFormat="dd/mm/yy"
            ></p-calendar>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <div class="flex justify-content-end align-items-center mt-1">
          <div>
            <button
              pButton
              pRipple
              label="{{ 'Cancel' | translate }}"
              icon="pi pi-times"
              class="p-button-text"
              (click)="this.searchDialog = false"
            ></button>
            <button
              pButton
              pRipple
              label="{{ 'Search' | translate }}"
              icon="pi pi-check"
              class="p-button-text"
              (click)="AdvanceSearch()"
            ></button>
          </div>
        </div>
      </ng-template>
    </p-dialog>
  </div>
</div>
